@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  overflow-x: hidden;
}

@font-face {
  font-family: 'lucidity';
  src: url('/fonts/lucidity-condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#hero{
  background-image: url("../assets/background/hero-background-1.png");
  background-size: cover;
}

@media (min-width: 768px) {
  #hero{
    background: #9B9797;
background: linear-gradient(121deg, rgba(155, 151, 151, 1) 12%, rgba(207, 207, 207, 1) 59%, rgba(137, 31, 31, 1) 58%, rgba(137, 31, 31, 1) 85%, rgba(255, 255, 255, 1) 85%);
  }
  
}